@model Shop.Models.LOAISANPHAM

@{
    ViewBag.Title = "chitietloai";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>chitietloai</h2>

<div>
    <h4>LOAISANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MALOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MALOAI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TENLOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENLOAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MALOAI }) |
    @Html.ActionLink("Back to List", "Index")
</p>
