@model Shop.Models.SANPHAM

@{
    ViewBag.Title = "ChitietSanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h3>THÔNG TIN CHI TIẾT SẢN PHẨM</h3>
<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sách:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>
        <dt>
            Giá bán:
        </dt>
        <dd>
            @String.Format("{0:0,0}", Model.GIABAN) VNĐ
        </dd>
        <dt>
            Mô tả:
        </dt>
        <dd style="width:600px; text-align:justify">
            @Html.DisplayFor(model => model.MOTA)
        </dd>
        <dt>
            Ảnh bìa:
        </dt>
        <dd>
            <img src="@Url.Content("~/Content/img/"+  Model.ANHBIA)" width="120px" />
        </dd>
        <dt>
            Ngày cập nhất:
        </dt>
        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.NGAYCAPNHAT) VNĐ
        </dd>


        <dt>
            Số lượng tồn:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SOLUONGTON)
        </dd>
        <dt>
            Loai Sản Phẩm :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LOAISANPHAM.TENLOAI)
        </dd>
        <dt>
           Thương Hiệu:
        </dt>
        <dd>
           @Html.DisplayFor(model => model.NSX.TENNSX)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("ĐIỀU CHỈNH", "Suasanpham", new { id = Model.MASP }) |
    @Html.ActionLink("TRỞ VỀ", "Sanpham")
</p>
