@model Shop.Models.SANPHAM

@{
    ViewBag.Title = "Suasanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ĐIỀU CHỈNH THÔNG TIN SẢN PHẨM</h2>

@using (Html.BeginForm("Suasanpham", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MASP)

        <div class="form-group">
            @Html.LabelFor(model => model.MASP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px"> @ViewBag.MASP</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TENSP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENSP)
                @Html.ValidationMessageFor(model => model.TENSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GIABAN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GIABAN)
                @Html.ValidationMessageFor(model => model.GIABAN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOTA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOTA)
                @Html.ValidationMessageFor(model => model.MOTA)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ANHBIA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Chọn ảnh mới
                <input type="file" name="fileUpload" />
                <img src="@Url.Content("~/Content/img/"+ Model.ANHBIA)" width="120px" /> (Ảnh hiện tại)
                @*thong bao trung*@
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NGAYCAPNHAT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGAYCAPNHAT)
                @Html.ValidationMessageFor(model => model.NGAYCAPNHAT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SOLUONGTON, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SOLUONGTON)
                @Html.ValidationMessageFor(model => model.SOLUONGTON)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MALOAI, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MALOAI")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MANSX, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MANSX")
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Sanpham")
</div>
